<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsir.mapper.CanteenMapper">
    <select id="pageSize" resultType="integer">
        select count(*) from canteen
        <if test="windows != -999">
            <where>
                window_amount = #{windows}
            </where>
        </if>
    </select>

    <select id="selectPage" resultType="canteen">
        select * from canteen
        <if test="windows != -999">
            <where>
                window_amount = #{windows}
            </where>
        </if>
        limit #{pageNum}, #{pageSize}
    </select>
</mapper>
